
<ul id="lists">
  <% sort_lists(@lists) do |list| %>

      <li class="<%= list_class(list) %>">
        <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2>
        <p><%= count_remaining_todos(list) %> / <%= todos_count(list) %></p>
      </a>
  </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href="/lists/new" class="add">New List</a>
<% end %>
